
.topnav {
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    margin: 0;
    padding: 10;
    line-height: 16;
    list-style-type: none;
    left: 200px;
    text-align: start;
    flex-shrink: 0;
    gap: 10px;
    top: 30px;
    left: 70px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{

    list-style-type: none;
    display: inline;
    color: rgb(0, 0, 0);
    padding: 16px;
    text-decoration: none;
    
}

a {
    text-decoration: none;
    width: 1305px;
    height: 92.411px;
    color: black;
}


li a:hover:not(.active) {
    background-color: white;
    color: #1B4D9D;
}

li a:hover {
    background-color: white;
    color: #1B4D9D;
}

.active {
    color: rgb(0, 0, 0);
}
body{
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 86.4px; 
    position: sticky;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    position:relative; 
    font-size: 36px; 
    left: 73px; 
    width: 415px;
    height: 50px;
    line-height: 50.4px; 
}

p.text{
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 33.6px */
} 
