
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #242320;
}
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
}
li a:hover:not(.active) {
    background-color: white;
    color: red;
}

.active {
    background-color: #0882fc;
    color: white;
}
body{
    background-image: url('programming-gabcac9fa4_1920.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1.center{
    text-align: center;
    border-style: solid;
    border-width: 2px;
    background-color: white;
}
p.text{
    font-family: "Times New Roman", Times, serif;
    border-style: solid;
    border-width: 2px;
    background-color: white;
} 